<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant_permission.name %>
</p>

<%= link_to 'Edit', edit_merchant_permission_path(@merchant_permission) %> |
<%= link_to 'Back', merchant_permissions_path %>
