<div style="padding-top: 20px;"></div>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="well">

		<h1 class="text-center">New Role</h1>

		<%= render 'form', merchant_role: @merchant_role %>
		
	</div>
</div>