<h1>Step One: Choose A Merchant Plan</h1>

<% @merchant_billing_plans.each do |mbp| %>
	<%= mbp.name %> -- <%= link_to "Choose", new_company_merchant_billing_plan_merchant_path(@company, mbp) %><br>
<% end -%>