<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_permission.name %>
</p>

<%= link_to 'Edit', edit_company_permission_path(@company_permission) %> |
<%= link_to 'Back', company_permissions_path %>
