.hidden
	display: none

.float-right
	float: right

.bg-image-carousel
	background-image: image-url("home-slider.png") !important

.icon-left-open-mini::before
	padding-right: 20px !important

.icon-right-open-mini::before
	padding-right: 15px !important

.background04
	background-image: image-url("image-background04.jpg") !important

.btn-sm
	padding: 7px !important
	margin: 0px

.navbar-collapse
	box-shadow: 0px 0px 3px #BFBFBF !important

.text-box
	border: 1px solid #CBCBCB !important

textarea
	resize: none !important

.blue-background
	background-color: #00C0EF !important

.green-background
	background-color: #31C531 !important

.red-background
	background-color: #F1664E !important

.orange-background
	background-color: #F39C11 !important

.purple-background
	background-color: #9B59B6 !important

.gold-background
	background-color: gold !important

.white-text
	color: white !important

.black-text
	color: black !important

.content-heading
	box-shadow: 0px 0px 3px #BFBFBF !important
	background-color: #CECECE !important

.panel-footer .btn
	margin: 0px !important

.panel-body
	height: 250px !important
	overflow-y: scroll !important

.slide-up
	height: 0px !important
	overflow-y: scroll !important
	padding-top: 0px !important
	padding-bottom: 0px !important
	opacity: 0 !important
	transition: all 300ms linear !important

.slide-down
	height: 250px !important
	padding-top: 30px !important
	padding-bottom: 30px !important
	opacity: 1 !important
	transition: all 300ms linear !important

.slide-down-edit-form
	padding-top: 30px !important
	padding-bottom: 30px !important
	opacity: 1 !important
	transition: all 300ms linear !important

.fa-arrow-up, .fa-arrow-down
	color: white !important
	cursor: pointer !important

.btn-primary
	background-color: #3F8DBF