<% @company_roles.each do |company_role| %>

	<p><%= company_role.name %></p>
	<% company_role.company_users.each do |company_user| %>
		<li><%= company_user.name %></li>
	<% end -%>
	<hr>

<% end -%>