<% @company_roles.each do |company_role| %>

	<p><b><%= company_role.name %></b></p>
	<% company_role.company_users.each do |company_user| %>
		<li><%= link_to company_user.name, company_user_path(company_user) %></li>
	<% end -%>
	<hr>

<% end -%>